---
layout: default
title: Blog
---
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>Blog</h2>
            <p>Check out what our world class developers have to say</p>
        </div>
    </header>
</section>
<section class="wrapper alt style1">
    <div class="inner">
        <section class="features">
            {% for post in site.categories.blog %}
                {% comment %} enable "Show more" button {% endcomment %}
                {% assign showmore = true %}

                {% include blog_post.html %}
            {% endfor %}
        </section>
    </div>
</section>
