---
layout: default
title: Code Nomads - World Class Software Developers
---
<section id="banner">
    <div class="inner">
        <h1>Code Nomads</h1>
        <h2>World Class Software Developers</h2>
    </div>
</section>

<section id="wrapper">
    <section id="about">
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a class="image">
                    <img src="{{site.baseurl}}/images/Code Nomads images/IMG_1637.jpeg" alt="Code Nomads Team"/>
                </a>
                <div class="content">
                    <h2 class="major">NICE TO MEET YOU!</h2>
                    <p>Code Nomads is a small company of 14 world class software developers focused on Java, Scala and fullstack
                        software development. We are group of international developers, living in the Netherlands. We love what we do and we practice what we
                        preach.
                        We believe in a quality-first approach by building maintainable and testable systems using modern
                        and innovative software. We know that non-functional aspects like maintainability, security,
                        performance and automation are just as important as building new features.

                        We focus on one thing only: software development. That’s why we are experts in what we do. We
                        focus not only on building the right thing, but also on building the thing right.</p>
                </div>
            </div>
        </section>

        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a class="image">
                    <img src="{{site.baseurl}}/images/Code Nomads images/meetup.jpg" alt="Meetup"/>
                </a>
                <div class="content">
                    <h2 class="major">PASSION & SHARING KNOWLEDGE</h2>
                    <p>We believe that you need to love your work and work on the projects you love. We share our passion for software, we work on the most
                        challenging and innovative projects, we never stop learning and we go on many fun social activities together. Our developers are
                        actively participating in meetup groups and Java User Groups, because we believe in lifelong learning. We like to share our experience
                        and knowledge with other people, so feel welcome to join us during one of our <a href="https://www.meetup.com/Code-Nomads/">meetups</a>.</p>
                </div>
            </div>
        </section>
    </section>

    <section id="customers" class="wrapper style3">
        <div class="inner">
            <div class="content">
                <h2 class="major">Projects</h2>
                <p>The great places we work</p>
                <div id="clients">
                    <a class="no-border" href="https://www.bol.com"><img src="{{site.baseurl}}/images/client-logos/Bol_com_logo.jpg" alt="Bol.com"/></a>
                    <a class="no-border" href="https://www.klm.com/home/nl/nl"><img src="{{site.baseurl}}/images/client-logos/klm_logo.svg" alt="KLM - Royal Dutch Airlines" class="pad-15p"/></a>
                    <a class="no-border" href="https://www.carepay.co.ke"><img src="{{site.baseurl}}/images/client-logos/carepay.png" alt="Carepay"/></a>
                    <a class="no-border" href="https://www.portofrotterdam.com"><img src="{{site.baseurl}}/images/client-logos/por.svg" alt="Port of Rotterdam"/></a>
                    <a class="no-border" href="https://www.ing.com"><img src="{{site.baseurl}}/images/client-logos/ing.svg" alt="ING"/></a>
                    <a class="no-border" href="https://www.rabobank.nl"><img src="{{site.baseurl}}/images/client-logos/rabobank-200by200.png"
                                                           alt="Rabobank"/></a>
                </div>
            </div>
        </div>
    </section>

    <section id="blog" class="wrapper alt style4">
        <div class="inner">
            <div class="content">
                <h2 class="major">Blogs</h2>
                <p>Check out what our world class developers have to say</p>
                <section class="features">
                    {% for post in site.categories.blog limit: 2 %}
                    {% include blog_post.html %}
                    {% endfor %}
                </section>
                <ul class="actions">
                    <li><a href="{{site.baseurl}}/blog.html" class="button">Show more</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="vacancies" class="wrapper spotlight style5">
        <div class="inner">
            <a class="image">
                <img src="{{site.baseurl}}/images/jobs/we-are-hiring.png" alt="We Are Hiring!"/>
            </a>
            <div class="content">
                <h2 class="major">Jobs</h2>
                <p>We are a group of 14 developers that are open, love to have fun, help each other out and share ideas. However, the thing that binds us most:
                    we all love technology and innovation. This is how we keep improving ourselves each and every day. If you share these values and like to add
                    to that, we should meet! Take a look at our current job positions here.</p>
            </div>
        </div>
        <div class="inner no-top-padding">
            <ul class="actions">
                <li><a href="{{site.baseurl}}/jobs.html" class="button">Show jobs</a></li>
            </ul>
        </div>
    </section>

    <section id="contact" class="wrapper alt style6">
        <div class="inner">
            <div class="content">
                <h2>Contact Us</h2>
                <div class="row gtr-75 display-block">
                    <div class="col col-6" id="founder">
                        <h4 class="align-center">Ramon Wieleman</h4>
                        <div class="image-container align-center">
                            <img src="{{site.baseurl}}/images/people/ramon.jpg" alt="Ramon Wieleman"/>
                        </div>
                        <h5 class="align-center">Founder & Director</h5>
                        <ul class="contact centered-content">
                            <li class="fa-envelope"><a class="keep-all" href="mailto:ramon@codenomads.nl">ramon@codenomads.nl</a></li>
                            <li class="fa-phone"><a class="keep-all" href="tel:+31-6-33899966">+31 6 33 89 99 66</a></li>
                            <li class="fa-twitter"><a class="keep-all" href="https://twitter.com/r_wieleman">@r_wieleman</a></li>
                        </ul>
                    </div>
                    <div class="col col-6" id="lead">
                        <h4 class="align-center">Oliver Carr</h4>
                        <div class="image-container align-center">
                            <img src="{{site.baseurl}}/images/people/oliver-carr.jpeg" alt="Oliver Carr"/>
                        </div>
                        <h5 class="align-center">Lead Developer</h5>
                        <ul class="contact centered-content">
                            <li class="fa-envelope"><a class="keep-all" href="mailto:oliver@codenomads.nl">oliver@codenomads.nl</a></li>
                            <li class="fa-twitter"><a class="keep-all" href="https://twitter.com/aussieOllie">@aussieOllie</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row gtr-75 top-separator display-block">
                    <div class="col col-4 off-1">
                        <h3>Visit us at our office</h3>
                        <ul class="contact">
                            <li class="fa-home">
                                Pand Noord<br>
                                Meeuwenlaan 100<br/>
                                1021 JL Amsterdam<br/>
                                The Netherlands
                            </li>
                            <li class="fa-envelope">
                                <a class="keep-all" href="mailto:info@codenomads.nl">info@codenomads.nl</a>
                            </li>
                            <li class="fa-desktop">
                                <a class="keep-all" href="https://www.codenomads.nl/">www.codenomads.nl</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-5 off-1 responsive-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.157783183582!2d4.919474515877451!3d52.38568995392644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60926c9c34511%3A0xb131693746acd2d3!2sCode+Nomads+BV!5e0!3m2!1snl!2snl!4v1541514465754"
                                width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
