---
layout: default
title: Jobs
---
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>Jobs</h2>
            <p>Take a look at our current job positions here.</p>
        </div>
    </header>
</section>
<section class="wrapper alt style1">
    <div class="inner">
        <section class="features">
            {% for job in site.categories.jobs %}
            <article>
                <a class="no-border" href="{{site.baseurl}}{{job.url}}">
                    <img class="blog_post_image"
                         {% if job.image != null %}
                         src={{site.baseurl}}/{{job.image}}
                         {% elsif job.image == null %}
                         src="{{site.baseurl}}/images/jobs/we-are-hiring.png"
                         {% endif %}
                         alt={{job.title}}
                         onerror="if (this.src !== '{{site.baseurl}}/images/pic08.jpg') this.src = '{{site.baseurl}}/images/pic08.jpg';"
                    />
                    <h3 class="major">{{job.title}}</h3>
                </a>
                <p class="preview_excerpt">
                    <a class="no-border" href="{{site.baseurl}}{{job.url}}">{{job.excerpt}}</a>
                </p>
                <ul class="actions">
                    <li><a href="{{site.baseurl}}{{job.url}}" class="button">Details</a></li>
                </ul>
            </article>
            {% endfor %}
        </section>
    </div>
</section>
