<article>
   <a class="no-border" href="{{site.baseurl}}{{post.url}}">
      <img class="blog_post_image"
          {% if post.image != null %}
          src={{site.baseurl}}/{{post.image}}
          {% elsif post.image == null %}
          src="{{site.baseurl}}/images/posts/blog_default_1.jpg"
          {% endif %}
          alt={{post.title}}
          onerror="if (this.src !== '{{site.baseurl}}/images/pic08.jpg') this.src = '{{site.baseurl}}/images/pic08.jpg';"
      />
      <h3 class="major">{{post.title}}</h3>
      <p class="blog_preview_date_author">{{ post.date | date_to_string }} - {{post.author}}</p>
      <p class="preview_excerpt">{{ post.excerpt }}</p>
   </a>
   {% comment %} "Details" button is not displayed by default {% endcomment %}
   {% if showmore == true %}
   <ul class="actions">
      <li><a href="{{site.baseurl}}{{post.url}}" class="button">Details</a></li>
   </ul>
   {% endif %}
</article>