<section id="footer">
    <div class="inner">
        <ul class="icons">
            <li>
                <a href="https://twitter.com/CodeNomadsNL">
                    <span class="icon fa-twitter" aria-hidden="true"></span>
                    <span class="sr-only">Twitter</span>
                </a>
            </li>
	        <li>
                <a href="mailto:info@codenomads.nl">
                    <span class="icon fa-envelope" aria-hidden="true"></span>
                    <span class="sr-only">Mail</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/code-nomads/">
                    <span class="icon fa-linkedin" aria-hidden="true"></span>
                    <span class="sr-only">LinkedIn</span>
                </a>
            </li>
        </ul>

        <ul class="copyright">
            <li>© Copyright 2019 - Code Nomads - <a href="{{site.baseurl}}/docs/Privacy-statement-Code-Nomads-20180524.pdf">Privacy statement Code Nomads</a></li>
            <li><a href="{{site.baseurl}}/index.html#contact">Pand Noord - Meeuwenlaan 100 - 1021 JL Amsterdam, The Netherlands</a></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</section>

<script src="{{site.baseurl}}/assets/js/custom.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>
<script src="{{site.baseurl}}/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
