<head>
    <title>Code Nomads - World Class Software Developers</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Code Nomads - World Software Class Developers">
    <meta property="og:image" content="{{site.url}}/images/background.jpg"/>
    <meta property="og:title" content="Code Nomads"/>
    <meta property="og:description" content="Code Nomads is a small company of 14 world class software developers focused on Java, Scala and fullstack software development. We are group of international developers, living in the Netherlands. We love what we do and we practice what we preach."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{site.url}}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@codenomadsnl"/>
    <meta name="twitter:title" content="Code Nomads">
    <meta name="twitter:description" content="Code Nomads is a small company of 14 world class software developers focused on Java, Scala and fullstack software development. We are group of international developers, living in the Netherlands. We love what we do and we practice what we preach.">
    <meta name="twitter:image" content="{{site.url}}/images/background.jpg"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css"/>
    <noscript>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/noscript.css"/>
    </noscript>
</head>