<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Code Nomads - World Software Class Developers">
    <meta property="og:image" content="{{site.url}}/{{page.image}}"/>
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:description" content="{{page.excerpt}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{site.url}}/{{page.url}}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@codenomadsnl"/>
    <meta name="twitter:title" content="{{page.title}}"/>
    <meta name="twitter:description" content="{{page.excerpt}}"/>
    <meta name="twitter:image" content="{{site.url}}/{{page.image}}"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/highlight/darcula.css"/>
    <noscript>
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/noscript.css"/>
    </noscript>
</head>