

<!-- Page Wrapper -->
<div id="page-wrapper">
    <header id="header">
        <h1 class="display">
            <a href="{{site.baseurl}}/index.html#banner">
                <img src="{{site.baseurl}}/images/logos/cn_logo_vector_white.svg"
                     alt="Code Nomads"/>
            </a>
        </h1>
        <nav id="non-hamburger">
            <a href="{{site.baseurl}}/index.html#about">About</a>
            <a href="{{site.baseurl}}/index.html#customers">Projects</a>
            <a href="{{site.baseurl}}/index.html#blog">Blog</a>
            <a href="{{site.baseurl}}/index.html#vacancies">Jobs</a>
            <a href="{{site.baseurl}}/index.html#contact">Contact</a>

        </nav>

        <nav id="hamburger">
            <a href="#menu" aria-hidden="true"><span class="hidden">Menu</span></a>
        </nav>
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li><a href="{{site.baseurl}}/index.html#about">About</a></li>
                    <li><a href="{{site.baseurl}}/index.html#customers">Projects</a></li>
                    <li><a href="{{site.baseurl}}/index.html#blog">Blog</a></li>
                    <li><a href="{{site.baseurl}}/index.html#vacancies">Jobs</a></li>
                    <li><a href="{{site.baseurl}}/index.html#contact">Contact</a></li>
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>
    </header>
</div>
