.wrapper.spotlight article {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    #non-hamburger {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    #hamburger {
        display: none;
    }
}

#footer {
    text-align: center;
}

#footer .inner .copyright {
    margin-top: 0em;
}

ul.icons a {
    border-bottom: none;
}

.no-border {
    border: none;
}

.no-top-padding {
    padding-top: 0 !important;
}

.pad-15p {
    padding: 15%;
}

.pad-20p {
    padding: 20%;
}

.keep-all {
    word-break: keep-all;
}

/* Youtube Plugin - Responsive Videos */
/* Responsive Container */
.video figure, div.responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}

.video iframe, .video object, .video embed,
div.responsive-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul.centered-content li:before {
    /*position: inherit;*/
    left: 20%;
    margin-right: 1em;
}

ul.centered-content li * {
    margin-left: 22%;
}

p {
    text-align: justify;
}

code {
    overflow: auto;
    /*max-height: 20rem;*/
}

section.features article {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

section.features article img {
    max-height: 220px;
    min-height: 220px;
    min-width: 100%;

    width: 100%;
    height: auto;
}

section.features article > *:not(:first-child),
section.features article > *:first-child > h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

section.features article a p.blog_preview_date_author {
    padding-left: 1rem;
    padding-right: 1rem;
}

section.features article > *:first-child > h3 {
    padding-top: 0.6rem;
}

p.blog_preview_date_author {
   margin: 0 0 0.5em
}

p.preview_excerpt {
   margin: 0 0 1em;
   padding-left: 1rem;
   padding-right: 1rem;
}

@media screen and (max-width: 480px) {
    div.display-block {
        display: block;
        margin-left: 0;
    }

    div.display-block > .col {
        width: 90%;
    }

    ul.centered-content li:before {
        /*position: inherit;*/
        left: 10%;
        margin-right: 1em;
    }

    ul.centered-content li * {
        margin-left: 12%;
    }

    .wrapper.spotlight:nth-child(2n - 1) .inner {
        text-align: left;
    }

    #menu .inner {
        background-color: #013465cc;
    }
}
