---
layout: compress
---

<!DOCTYPE HTML>

<!--
    Solid State by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  -->
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}

<!-- Registering the service worker for offline handling -->
{% register_service_worker %}

</body>
</html>
