<!DOCTYPE HTML>
<!--
    Solid State by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  -->
<html lang="en">
{% include head_post.html %}
<body>

{% include header.html %}

<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{page.title}}</h2>
            <p>{{page.author}}</p>
        </div>
    </header>
</section>

<section class="wrapper">
    <div class="inner">
        {{ content }}
    </div>
</section>

{% include footer.html %}
</body>
</html>
